/* line 2, src/dest/css/index.scss */
.pos_icon {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 120px;
  height: 120px; }

/* line 3, src/dest/css/index.scss */
.weibo_icon {
  background-image: url(../images/sprite.png);
  background-position: -54px -120px;
  width: 54px;
  height: 54px; }

/* line 4, src/dest/css/index.scss */
.qq_icon {
  background-image: url(../images/sprite.png);
  background-position: -120px -54px;
  width: 54px;
  height: 54px; }

/* line 5, src/dest/css/index.scss */
.douban_icon {
  background-image: url(../images/sprite.png);
  background-position: -120px 0px;
  width: 54px;
  height: 54px; }

/* line 6, src/dest/css/index.scss */
.renren_icon {
  background-image: url(../images/sprite.png);
  background-position: 0px -120px;
  width: 54px;
  height: 54px; }
